openapi: 3.0.3
info:
  title: TinyThings to DEER Contract
  version: 0.1.0-alpha.1
  description: >-
    Baseline OpenAPI contract artifact for the seam between TinyThings and DEER.
    This contract keeps a small stable core while allowing open-ended extension
    fields used by multiple downstream consumers.
externalDocs:
  description: TinyNode routes source of truth
  url: https://github.com/CenterForDigitalHumanities/TinyNode/tree/main/routes
x-route-source-files:
  - routes/create.js
  - routes/update.js
  - routes/overwrite.js
  - routes/query.js
x-upstream-provider:
  name: rerum_server_nodejs
  baseUrl: https://store.rerum.io/v1
servers:
  - url: https://tiny.rerum.io
paths:
  /app/create:
    post:
      summary: Create an object
      operationId: createObject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/DocumentPayload'
      responses:
        '200':
          description: Object created
          content:
            application/json:
              schema:
                $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/DocumentResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/ErrorResponse'
  /app/update:
    post:
      summary: Update selected fields for an object
      operationId: updateObject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/DocumentPayload'
      responses:
        '200':
          description: Object updated
          content:
            application/json:
              schema:
                $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/DocumentResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/ErrorResponse'
  /app/overwrite:
    post:
      summary: Overwrite an existing object
      operationId: overwriteObject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/DocumentPayload'
      responses:
        '200':
          description: Object overwritten
          content:
            application/json:
              schema:
                $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/DocumentResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/ErrorResponse'
  /app/query:
    get:
      summary: Query for objects
      operationId: queryObjects
      parameters:
        - in: query
          name: limit
          description: Max number of results to return
          schema:
            type: integer
            minimum: 0
            default: 50
        - in: query
          name: skip
          description: Number of results to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/QueryResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '../../../schemas/openapi/tinynode-shared-components.openapi.yaml#/components/schemas/ErrorResponse'
